# Preparación Datos

In [43]:
# Data handling
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_columns', None)


import glob
import json

# Data visualization
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
import missingno as mso
import matplotlib.ticker as ticker
import geopandas as gpd

import ydata_profiling as pp
from sklearn import cluster, mixture
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, OPTICS
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import kneighbors_graph
from itertools import cycle, islice

import plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px

# Stats
from statsmodels.graphics.gofplots import qqplot
from scipy.stats import shapiro, norm
# warnings
import warnings
warnings.filterwarnings('ignore')

In [44]:
# Lee el archivo CSV en un DataFrame
df = pd.read_csv('dataset_completo.csv')

In [45]:
# Convierte la columna que contiene la fecha en un formato de fecha
df['Date'] = pd.to_datetime(df['DataAccadimento'])

# Extrae el año, mes, día de la semana y día del mes de la fecha
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day_of_week'] = df['Date'].dt.day_name()
df['Day_of_month'] = df['Date'].dt.day
df.head()

,DataRilevazione,DataProtocollo,DataAccadimento,DataDefinizione,DataMorte,LuogoAccadimento,IdentificativoInfortunato,Genere,Eta,LuogoNascita,ModalitaAccadimento,ConSenzaMezzoTrasporto,IdentificativoCaso,DefinizioneAmministrativa,DefinizioneAmministrativaEsitoMortale,Indennizzo,DecisioneIstruttoriaEsitoMortale,GradoMenomazione,GiorniIndennizzati,IdentificativoDatoreLavoro,PosizioneAssicurativaTerritoriale,SettoreAttivitaEconomica,Gestione,GestioneTariffaria,GrandeGruppoTariffario,Date,Year,Month,Day_of_week,Day_of_month
0,30/04/2023,18/06/2018,17/06/2018,28/06/2018,NaN,69,3895603,M,41,ITAL,N,N,21619890,P,ND,TE,ND,-1,10,9270978,11500123,H 52,I,1,9,2018-06-17,2018,6,Sunday,17
1,30/04/2023,04/10/2021,30/09/2021,27/10/2021,NaN,66,3882671,M,61,ITAL,N,N,23839687,N,ND,NE,ND,-1,0,-1,-1,ND,A,ND,ND,2021-09-30,2021,9,Thursday,30
2,30/04/2023,28/09/2020,23/09/2020,14/11/2020,NaN,66,3897622,M,52,ITAL,N,N,23119539,P,ND,TE,ND,-1,45,3325574,4350088,H 49,I,1,9,2020-09-23,2020,9,Wednesday,23
3,30/04/2023,06/04/2022,04/04/2022,22/04/2022,NaN,69,3896347,F,49,ITAL,N,N,24228399,P,ND,TE,ND,-1,12,4173909,13125854,Q 86,I,4,0,2022-04-04,2022,4,Monday,4
4,30/04/2023,21/02/2020,19/02/2020,17/03/2020,NaN,68,3894028,M,69,ITAL,N,N,22815467,P,ND,TE,ND,-1,26,-1,-1,ND,A,ND,ND,2020-02-19,2020,2,Wednesday,19

In [46]:
df.columns = ['FechaEncuesta', 'FechaRegistro', 'FechaAccidente', 'FechaDefiniciónAdmin', 'FechaMuerte', 'Provincia', 'CódigoInterno',
              'Género', 'Edad', 'LugarNacimiento', 'ModalidadAccidente', 'ImplicaciónMedioTransporte', 'IdentificativoCaso', 'SituaciónAdmin',
              'DefAdminEvidienciaMortal', 'Indemnización', 'DecisiónInstrucciónResultadoMortal', 'GradoDeterioro', 'DíasIndemnizados', 
              'IdentificadorEmpleador', 'PosiciónAseguramientoTerritorial', 'DetalleActividadEconómica', 'Gestión', 'TipoActividadEconómica', 
              'SectorEconómico', 'Fecha', 'Año', 'Mes', 'DiaSemana', 'DiaMes']

In [47]:
conteo_valores = df['GradoDeterioro'].value_counts()

# Imprimir el resultado
print('Número de veces que aparece cada valor único en GradoDeterioro:')
print(conteo_valores)

Número de veces que aparece cada valor único en GradoDeterioro:
GradoDeterioro
-1     2802570
 2       63394
 3       47000
 6       43615
 4       39823
        ...
 98          2
 76          2
 81          2
 99          1
 83          1
Name: count, Length: 99, dtype: int64

#Aparecen muchas veces el valor -1 en la variable GradoDeterioro. Vamos a eliminar estos valores ya que no aportan informción.

In [48]:
df = df[df['GradoDeterioro'] != -1]
df.shape

(326877, 30)

In [49]:
conteo_edad_menos_uno = df['Edad'].value_counts().get(-1, 0)

print(f"La cantidad de veces que 'Edad' es igual a -1 es: {conteo_edad_menos_uno}")

La cantidad de veces que 'Edad' es igual a -1 es: 11

In [50]:
df = df[df['Edad'] >= 16]

In [51]:
media_grado_deterioro = df['GradoDeterioro'].mean()

print(f"La media de 'GradoDeterioro' es: {media_grado_deterioro}")

La media de 'GradoDeterioro' es: 6.707736071430775

In [52]:
territorial_codes = pd.read_csv('Codici-statistici-e-denominazioni.csv', sep=";", encoding = "ISO-8859-1")

In [53]:
territorial_codes.columns = ['region code', 'Code of the supra-municipal territorial unit', 'Province Code (Historical)', 'Municipality progressive',
                            'Municipality code in alphanumeric format', 'Name (Italian and foreign)', 'Name in Italian', 'Name in other language',
                            'Code Geographical Distribution', 'Geographical distribution', 'Nombre Región', 'Nombre Unidad Territorial',
                            'Type of supra-municipal territorial unit', 'Flag Provincial capital / metropolitan city / free consortium',
                            'Automotive abbreviation', 'Municipal code numeric format', 'Numeric municipality code with 110 provinces (from 2010 to 2016)',
                            'Numeric municipality code with 107 provinces (from 2006 to 2009)', 'Numeric municipality code with 103 provinces (1995 to 2005)',
                            'Cadastral code of the municipality', 'NUTS1 code 2010', 'NUTS2 code 2010', 'NUTS3 code 2010', 'NUTS1 code 2021', 'NUTS2 code 2021',
                            'NUTS3 code 2021']

In [54]:
code_province_name_region = pd.concat([territorial_codes['Province Code (Historical)'],
                                     territorial_codes['Automotive abbreviation'],
                                     territorial_codes['Nombre Región'],
                                      territorial_codes['Nombre Unidad Territorial']], axis = 1)

In [55]:
# When the province is Naples, the abbreviation is NA. This is read as a missing value, replace NA with 'NAPOLI' in full:
code_province_name_region['Automotive abbreviation'][code_province_name_region['Automotive abbreviation'].isna()] = 'NAPOLI' 
code_province_name_region.columns = ['PlaceOfOccurrence', 'abbreviation', 'Region', 'Unidad Territorial' ]

code_province_name_region = code_province_name_region.drop_duplicates()
code_province_name_region.head()

     PlaceOfOccurrence abbreviation    Region Unidad Territorial
0                    1           TO  Piemonte             Torino
312                  2           VC  Piemonte           Vercelli
394                  3           NO  Piemonte             Novara
481                  4           CN  Piemonte              Cuneo
728                  5           AT  Piemonte               Asti

In [56]:
# merge accident data with ISTAT data
data = pd.merge(df, code_province_name_region, left_on='Provincia', right_on='PlaceOfOccurrence', how='left')

In [57]:
data_TipoActividadEconómica = pd.read_csv("GestioneTariffaria.csv", sep = ";", encoding = "ISO-8859-1")

In [58]:
data_TipoActividadEconómica = pd.read_csv("GestioneTariffaria.csv", sep = ";", encoding = "ISO-8859-1")

In [59]:
data_TipoActividadEconómica.columns = ["TipoActividadEconómica", "DescrTipoActividadEconómica"]
data1 = pd.merge(data, data_TipoActividadEconómica, on='TipoActividadEconómica', how='left')

In [60]:
data_DetalleActividadEconómica = pd.read_csv("SettoreAttivitaEconomica.csv", sep = ";", encoding = "ISO-8859-1")

In [61]:
data2 = pd.merge(data1, data_DetalleActividadEconómica, left_on='DetalleActividadEconómica', right_on='SettoreAttivitaEconomica', how='left')

In [62]:
data_SectorEconómico = pd.read_csv("GrandeGruppoTariffario.csv", sep = ";", encoding = "ISO-8859-1")

In [63]:
data_SectorEconómico.columns = ["SectorEconómico", "DescrSectorEconómico"]
data3 = pd.merge(data2, data_SectorEconómico, on='SectorEconómico', how='left')

In [64]:
conteo_SectorX = data3['DescrSectorEconómico'].value_counts()

# Imprimir el resultado
print('Número de veces que aparece cada valor único en DescrSectorEconómico:')
print(conteo_SectorX)

Número de veces que aparece cada valor único en DescrSectorEconómico:
DescrSectorEconómico
GG0 Attività varie              122148
X Non determinato                61187
GG3 Costruzioni e impianti       43869
GG6 Metalli e macchinari         35839
GG9 Trasporti e magazzini        26028
GG1 Lav. agricole e alimenti     10565
GG2 Chimica, carta e cuoi         8747
GG5 Legno e affini                5617
GG7 Mineraria, rocce e vetro      4445
GG8 Tessile e confezioni          4328
GG4 Energia e comunicazioni       1345
Name: count, dtype: int64

In [65]:
data3 = data3[data3['DescrSectorEconómico'] != 'X Non determinato']
data3.shape

(262931, 40)

In [66]:
data3 = data3.fillna(0)

In [67]:
data3['Muerte'] = data3['FechaMuerte'].apply(lambda fecha: 1 if fecha != 0 else 0)

In [68]:
DescrTipoActividadEconómica_ = {'Non determinata': 'No Determinada',
                           'Industria':'Industria',
                           'Altre Attività':'Otra Actividad',
                           'Artigianato': 'Artesanía',
                           'Terziario':'Terciario'}
                           
data3['DescrTipoActividadEconómica']=data3['DescrTipoActividadEconómica'].map(DescrTipoActividadEconómica_)

In [69]:
# Diccionario de mapeo para 'SectorEconómico'
DescrSectorEconómico_ = {'GG9 Trasporti e magazzini': 'Transporte y almacenamiento', 
                         'GG0 Attività varie': 'Actividades diversas', 'GG6 Metalli e macchinari': 'Metales y maquinaria', 
                         'GG3 Costruzioni e impianti': 'Construcción e instalaciones', 'GG1 Lav. agricole e alimenti': 'Agricultura y alimentación', 
                         'GG8 Tessile e confezioni': 'Textil y confección', 'GG2 Chimica, carta e cuoi': 'Química, papel y cuero', 
                         'GG5 Legno e affini': 'Madera y afines', 'GG7 Mineraria, rocce e vetro': 'Minería, rocas y vidrio', 
                         'GG4 Energia e comunicazioni': 'Energía y comunicaciones'}

# Aplicar el mapeo a la columna 'SectorEconómico'
data3['DescrSectorEconómico'] = data3['DescrSectorEconómico'].map(DescrSectorEconómico_)

In [70]:
Gestión_ = {'I':1,
           'A':2,
           'S':3}
data3['Gestión']=data3['Gestión'].map(Gestión_)

In [71]:
TipoActividadEconómica_ = {'ND':0,
                           '1':1,
                           '2':2,
                           '3':3,
                           '4':4}
                           
data3['TipoActividadEconómica']=data3['TipoActividadEconómica'].map(TipoActividadEconómica_)

In [72]:
# Diccionario de mapeo para 'SectorEconómico'
SectorEconómico_ = {'ND': 10, '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

# Aplicar el mapeo a la columna 'SectorEconómico'
data3['SectorEconómico'] = data3['SectorEconómico'].map(SectorEconómico_)

In [73]:
# Crear un diccionario que mapea los intervalos a las clases definidas en el texto
intervalos = {
    (1, 5): 1,
    (6, 15): 2,
    (16, 25): 3,
    (26, 50): 4,
    (51, 85): 5,
    (86, 100): 6
}

data3['GradoDeterioro'] = pd.cut(data3['GradoDeterioro'], bins=[0, 5, 15, 25, 50, 85, 100], labels=list(intervalos.values()), include_lowest=True)
# Transformar la columna 'GradoDeterioro' a tipo int
data3['GradoDeterioro'] = data3['GradoDeterioro'].astype(int)

In [74]:
# Crear un diccionario que mapea los intervalos a las clases definidas en el texto
intervalos = {
    (16, 25): 1,
    (26, 35): 2,
    (36, 45): 3,
    (46, 55): 4,
    (56, 100): 5  # Ajusté el límite superior a 56 para que coincida con el diccionario
}

data3['Edad'] = pd.cut(data3['Edad'], bins=[16, 26, 36, 46, 56, 100], labels=list(intervalos.values()), include_lowest=True)

# Transformar la columna 'Edad' a tipo int
data3['Edad'] = data3['Edad'].astype(int)

In [75]:
# Seleccionar las columnas que deseas conservar
columns_to_keep = ['Género', 'Edad', 'GradoDeterioro', 
                   'SectorEconómico', 'Año', 'Region']

# Crear un nuevo DataFrame solo con las columnas seleccionadas
data = data3[columns_to_keep]

In [76]:
Género_dummy = pd.get_dummies(data['Género'], prefix='Género')

Género_dummy = Género_dummy.astype(int)

# Concatenar las nuevas columnas dummy al DataFrame original
data = pd.concat([data, Género_dummy], axis=1)

In [77]:
data=data.drop(['Género', 'Género_F'], axis=1)

In [78]:
regiones = {'Abruzzo', 'Basilicata', 'Calabria', 'Campania', 'Emilia-Romagna', 'Friuli-Venezia Giulia', 'Lazio', 
            'Liguria', 'Lombardia', 'Marche', 'Molise', 'Piemonte', 'Puglia', 'Sardegna', 'Sicilia', 'Toscana', 
            'Trentino-Alto Adige/Südtirol', 'Umbria', "Valle d'Aosta/Vallée d'Aoste", 'Veneto'}

divisiones = {
    'Noroccidental': {'Liguria', 'Lombardia', 'Piemonte', "Valle d'Aosta/Vallée d'Aoste"},
    'Nororiental': {'Emilia-Romagna', 'Friuli-Venezia Giulia', 'Trentino-Alto Adige/Südtirol', 'Veneto'},
    'Central': {'Lazio', 'Marche', 'Toscana', 'Umbria'},
    'Meridional': {'Abruzzo', 'Basilicata', 'Calabria', 'Campania', 'Molise', 'Puglia'},
    'Insular': {'Sardegna', 'Sicilia'}
}

# Mapear cada región a su división correspondiente
mapeo_divisiones = {}
for region in regiones:
    for division, regiones_division in divisiones.items():
        if region in regiones_division:
            mapeo_divisiones[region] = division
            break

data['Region'] = data['Region'].map(mapeo_divisiones)

In [79]:
Region_ = {'Noroccidental':4, 
           'Nororiental':3, 
           'Central':2, 
           'Meridional':0,
           'Insular':1}
                           
data['Region']=data['Region'].map(Region_)
data.head()

   Edad  GradoDeterioro  SectorEconómico   Año  Region  Género_M
0     4               1                3  2018       0         1
1     5               2                0  2018       0         0
2     5               2                0  2021       0         1
5     5               3                3  2022       0         1
8     5               1                0  2021       0         0

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 262931 entries, 0 to 324117
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Edad             262931 non-null  int32
 1   GradoDeterioro   262931 non-null  int32
 2   SectorEconómico  262931 non-null  int64
 3   Año              262931 non-null  int32
 4   Region           262931 non-null  int64
 5   Género_M         262931 non-null  int32
dtypes: int32(4), int64(2)
memory usage: 10.0 MB

In [81]:
data4 = data.sample(n=10000, random_state=42)

In [82]:
from sklearn.preprocessing import StandardScaler

# Selecciona las columnas que deseas estandarizar
columnas_a_estandarizar = ['Género_M', 'Edad', 'GradoDeterioro', 'SectorEconómico', 'Año', 'Region']  # Reemplaza con los nombres de las columnas que desees estandarizar

scaler = StandardScaler()

data4_scaled = data4.copy()  # Crea una copia del DataFrame original
data4_scaled[columnas_a_estandarizar] = scaler.fit_transform(data4[columnas_a_estandarizar])

# Top 20 Silhouette

In [83]:
from sklearn.metrics import silhouette_score
from itertools import combinations

# Obtener todas las combinaciones posibles de 4 a 6 variables
all_variable_combinations = []
for r in range(4, 6):
    combinations_r = list(combinations(data4_scaled.columns, r))
    all_variable_combinations.extend(combinations_r)

# Crear un diccionario para almacenar los resultados de cada combinación
results = {}

# Crear un diccionario para rastrear el número de veces que se ha utilizado cada número de clústeres
cluster_count = {}

# Iterar sobre las combinaciones y ejecutar kMeans
for i, variable_combination in enumerate(all_variable_combinations):
    # Seleccionar solo las columnas necesarias del DataFrame
    subset_data = data4_scaled[list(variable_combination)]

    # Aplicar el algoritmo kMeans con un número variable de clústeres (4 a 15)
    for num_clusters in range(3, 16):
        
        kmeans = KMeans(n_clusters=num_clusters, random_state=42)
        distances = kmeans.fit_transform(subset_data)

        # Obtener los clústeres a los que pertenece cada punto
        clusters = kmeans.labels_

        # Calcular el índice de silhouette
        silhouette_avg = silhouette_score(subset_data, clusters)

        # Calcular el promedio por clúster
        cluster_means = pd.DataFrame(subset_data)
        cluster_means['Cluster'] = clusters
        cluster_means = cluster_means.groupby('Cluster').mean()

        # Almacenar los resultados en el diccionario
        key = (hash(variable_combination), num_clusters)
        results[key] = (cluster_means, silhouette_avg)

        # Incrementar el contador para el número de clústeres utilizado
        cluster_count[num_clusters] = cluster_count.get(num_clusters, 0) + 1

# Ordenar los resultados por el índice de silhouette
sorted_results = sorted(results.items(), key=lambda x: x[1][1], reverse=True)

# Imprimir las 10 mejores combinaciones con variables únicas
selected_combinations = set()
top_20_results = []

for result in sorted_results:
    (variable_combination, num_clusters), (cluster_means, silhouette_avg) = result
    if variable_combination not in selected_combinations:
        selected_combinations.add(variable_combination)
        top_20_results.append(result)

    if len(top_20_results) == 20:
        break
# Imprimir las 20 mejores combinaciones
for i, (variable_combination, num_clusters) in enumerate(top_20_results):
    print(f"\nTop {i+1} Variable Combination: {variable_combination}, Number of Clusters: {num_clusters}")
    print(cluster_means.style.bar(axis=0))

Top 1 Variable Combination: (-2280429558856369004, 14), Number of Clusters: (         GradoDeterioro  SectorEconómico    Region  Género_M
Cluster
0             -0.215425        -0.816104 -1.452063 -1.680068
1              0.646383        -0.496110 -0.902251  0.595214
2             -0.766250        -0.433723  0.474158  0.595214
3              0.734248        -0.823597  0.447981 -1.680068
4              0.739781         1.442849  0.566670  0.595214
5             -0.766250        -0.508286 -1.472543  0.595214
6             -0.766250        -0.826559  1.181901 -1.680068
7              2.510267        -0.212655  0.488612  0.468489
8             -0.216609         1.448554 -1.487270  0.595214
9             -0.175373         1.544907  0.327437 -1.680068
10            -0.766250         1.393911  0.536229  0.595214
11             2.676704         0.681527 -1.166734  0.544652
12             0.569378        -0.377115  0.844311  0.595214
13            -0.766250        -0.828966  0.135134 -1.680068, 0.44040739255911665)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 2 Variable Combination: (2105317518123759021, 14), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico  Género_M
Cluster
0        0.512704        2.032927        -0.371851  0.595214
1        0.696919       -0.766250        -0.451350  0.595214
2        0.452977       -0.766250        -0.830876 -1.680068
3       -0.935865        0.758044         1.429555  0.590112
4       -1.059016       -0.766250        -0.461170  0.595214
5       -1.299729       -0.149138        -0.804594 -1.680068
6        0.293770       -0.766250         1.401433  0.595214
7        0.724409        0.776158         1.460200  0.595214
8        0.738068        0.569378        -0.436299  0.595214
9       -1.619206       -0.766250         1.402894  0.571137
10       0.780596        0.811723        -0.821966 -1.680068
11      -0.993382        0.630166        -0.412298  0.595214
12      -0.131955        3.508981         0.439121  0.449762
13       0.297389       -0.205538         1.534567 -1.680068, 0.43404471670972106)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 3 Variable Combination: (-2492953536713390277, 15), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año  Género_M
Cluster
0              0.787734        -0.404811  0.749993  0.595214
1             -0.766250        -0.834089 -0.650768 -1.680068
2             -0.766250         1.410877  0.824325  0.595214
3              0.829490         0.142083 -0.967301  0.595214
4             -0.766250        -0.628112 -0.219591  0.595214
5              0.799073        -0.821509 -0.598696 -1.680068
6             -0.230350        -0.821057  1.152070 -1.680068
7              3.468417         0.244216 -0.149187  0.427654
8              0.784153         1.476148  0.822313  0.595214
9             -0.766250        -0.431245  1.141940  0.595214
10            -0.766250         1.387268 -0.969208  0.595214
11            -0.766250        -0.322530 -1.118130  0.595214
12            -0.198155         1.536476 -0.042769 -1.680068
13             0.735711        -0.825519 -0.960122  0.595214
14             0.771207         1.455863 -0.972841  0.595214, 0.4193866922139603)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 4 Variable Combination: (-4679683586341635231, 14), Number of Clusters: (         GradoDeterioro       Año    Region  Género_M
Cluster
0              0.806397 -0.982631 -1.395352  0.595214
1              0.739591  1.128557  0.517060  0.595214
2              2.734966 -0.274876  0.087233  0.482854
3             -0.262821 -0.004497 -1.493777 -1.680068
4             -0.766250  0.688203  0.884232  0.595214
5              0.784802 -0.636782  0.384402 -1.680068
6             -0.766250 -0.654558 -1.459636  0.595214
7             -0.766250 -0.965311  0.525228  0.595214
8             -0.766250 -0.662118  0.520520 -1.680068
9              0.841776  0.769377 -1.454871  0.590224
10             0.592317 -0.652431  0.526650  0.595214
11            -0.766250  1.010999 -0.072220  0.595214
12            -0.216285  1.161223  0.446779 -1.680068
13            -0.766250  1.190650 -1.513030  0.595214, 0.3755827548180894)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 5 Variable Combination: (-6038383006382673267, 13), Number of Clusters: (             Edad  GradoDeterioro    Region  Género_M
Cluster
0       -0.783477        0.769566  0.499650  0.595214
1        0.591794       -0.357660 -1.075888 -1.680068
2        0.682472       -0.766250  0.506628  0.595214
3        0.409008        0.834699 -1.430728  0.595214
4        0.583293       -0.766250  0.886998 -1.680068
5       -1.170810       -0.466029  0.024455 -1.680068
6       -0.801232       -0.766250  0.483356  0.595214
7        0.028801        3.464087 -0.092547  0.387584
8        0.730520        0.797227  0.484023  0.595214
9       -1.588438       -0.356305 -1.476519  0.595214
10       0.630795        0.766470  0.485100 -1.680068
11       0.310783       -0.766250 -1.470477  0.595214
12      -2.158970       -0.323295  0.537359  0.595214, 0.3684954269989913)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 6 Variable Combination: (-6250906984239694540, 13), Number of Clusters: (             Edad  GradoDeterioro       Año  Género_M
Cluster
0       -1.115916       -0.496257 -0.426053 -1.680068
1        0.751509        0.742971  0.814258  0.595214
2       -1.805986        0.212210 -0.887082  0.595214
3        0.690254       -0.766250 -0.960681  0.595214
4        0.459164       -0.766250  0.878582 -1.680068
5       -1.186440       -0.766250  0.946042  0.595214
6        0.380664        0.684819 -0.998596  0.595214
7       -0.725315       -0.766250 -0.777638  0.595214
8        0.192981        2.814435 -0.242285  0.487841
9        0.674629       -0.122494 -0.987145 -1.680068
10      -0.902407        0.727465  0.828249  0.591761
11       0.606844        0.825661  0.699130 -1.680068
12       0.694243       -0.766250  0.837428  0.595214, 0.36579684086313774)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 7 Variable Combination: (7866735996180458633, 11), Number of Clusters: (         SectorEconómico       Año    Region  Género_M
Cluster
0              -0.825183  0.787142  0.504483 -1.680068
1              -0.393709  0.865136  0.378867  0.595214
2               1.532213 -0.044348 -1.264577  0.595214
3              -0.405286 -0.783528  0.890564  0.595214
4              -0.483579 -0.969004 -0.928674  0.595214
5               1.423776  0.892516  0.584639  0.595214
6               1.379323 -0.974262  0.570631  0.595214
7              -0.386078  0.841411 -1.498893  0.595214
8              -0.814943  0.091713 -1.476814 -1.680068
9              -0.828417 -0.974498  0.431893 -1.680068
10              1.535871 -0.071051  0.317771 -1.680068, 0.36082494845886015)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 8 Variable Combination: (-7558086433832546725, 14), Number of Clusters: (             Edad  SectorEconómico    Region  Género_M
Cluster
0        0.741328        -0.526730 -0.395416  0.595214
1        0.769027        -0.829011  0.509929 -1.680068
2       -0.451600        -0.397664  0.439570  0.595214
3        0.694108         1.396396  0.816869  0.595214
4       -0.948289         1.445490 -1.489164  0.578666
5        0.365618        -0.815266 -1.462980 -1.680068
6       -1.017699         1.396206  0.567275  0.595214
7        0.749371        -0.413642 -1.579382  0.595214
8        0.724204         1.484004 -0.818776  0.595214
9       -1.015809        -0.808344  0.348961 -1.680068
10      -1.596979        -0.450812  0.492273  0.595214
11       0.702600        -0.376920  0.839731  0.595214
12      -0.999923        -0.471810 -1.443328  0.595214
13       0.275026         1.549240  0.326123 -1.680068, 0.35657678311098506)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 9 Variable Combination: (-7770610411689567998, 13), Number of Clusters: (             Edad  SectorEconómico       Año  Género_M
Cluster
0        0.707533         1.463411  0.822884  0.595214
1        0.338508        -0.443659 -0.959723  0.595214
2        0.833551        -0.837548 -0.447144 -1.680068
3       -1.070684         1.440250  0.622910  0.592319
4       -0.968425        -0.437840  0.830482  0.595214
5       -1.602550        -0.821050 -0.681301 -1.680068
6       -0.863288        -0.803118  0.934592 -1.680068
7        0.737254        -0.404166  0.787531  0.595214
8        0.299935         1.416531 -0.994009  0.595214
9       -0.025743        -0.815276 -1.133749 -1.680068
10       0.274033         1.541491 -0.072629 -1.680068
11       0.822177        -0.823345  1.141231 -1.680068
12      -1.665815        -0.188788 -0.899720  0.595214, 0.3480556073042638)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 10 Variable Combination: (4091046229407370536, 12), Number of Clusters: (             Edad       Año    Region  Género_M
Cluster
0        0.716246  0.801574  0.470921  0.595214
1        0.790737  0.782525  0.496903 -1.680068
2       -1.013577 -0.969042  0.492417  0.595214
3       -1.095539  0.813057 -0.879761  0.595214
4        0.001433 -0.916989 -1.436559  0.595214
5        0.757666  0.794222 -1.485348  0.595214
6        0.740364 -0.973093  0.476540 -1.680068
7        0.419688  0.027512 -1.491303 -1.680068
8       -0.994543  1.158943  0.289039 -1.680068
9       -1.031999  0.784331  0.827929  0.595214
10      -0.986931 -0.706368  0.290465 -1.680068
11       0.699049 -0.966693  0.525360  0.595214, 0.31289731005789634)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 11 Variable Combination: (-1093076475687816233, 15), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año    Region
Cluster
0              0.754971        -0.504911  0.746823  0.838031
1             -0.766250        -0.631135 -0.167873 -0.097571
2              0.820129        -0.562815 -0.745201 -1.446638
3             -0.766250        -0.590133 -0.806232  0.888928
4             -0.766250         1.412047  0.840463  0.474779
5             -0.154446         1.448571  0.093358 -1.554135
6              0.794991         1.406404 -0.998626  0.467146
7              0.846250        -0.536130  0.783192 -0.496304
8             -0.476228        -0.576193  0.947872 -1.571871
9              0.724945        -0.556943 -0.955724  0.472494
10             0.788167         1.479546  0.835369  0.497278
11             3.373723         0.211418 -0.202243 -0.094660
12            -0.766250        -0.563810  1.135598  0.471461
13            -0.766250         1.390718 -0.972253  0.533043
14            -0.766250        -0.615487 -1.057968 -1.123343, 0.3010926194117964)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 12 Variable Combination: (7837039228455974809, 15), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico       Año
Cluster
0        0.792021        0.722524        -0.588406  0.751264
1        0.712928       -0.766250        -0.635825 -0.665771
2        0.305335       -0.766250         1.400748 -0.669252
3        0.375774        0.743193         1.454020 -0.735863
4       -1.656261       -0.643957        -0.581977  0.811209
5       -0.361562        2.750210        -0.224009 -0.786852
6       -1.135442       -0.549473         1.426556  1.152665
7       -1.649513       -0.321041         1.283976 -0.664923
8        0.754218        0.718145        -0.615835 -0.953667
9        0.551372       -0.079161         1.461255  1.162918
10      -0.961178        0.587030        -0.507853 -0.968082
11      -0.840971        0.732509        -0.432057  0.791817
12       0.395911       -0.766250        -0.572093  1.144178
13      -0.886186       -0.766250        -0.607627 -0.799353
14       0.550811        2.589110         0.789919  0.594993, 0.30056211585966186)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 13 Variable Combination: (-3540834709485523760, 15), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico    Region
Cluster
0       -0.540233        3.386606         0.641457 -0.228808
1        0.367758       -0.766250        -0.680490  1.006821
2        0.450032       -0.766250        -0.620532 -1.519271
3        0.292135       -0.766250         1.415228  0.539694
4       -0.174576       -0.766250        -0.633118 -0.134826
5        0.749336        0.569378        -0.567835  0.481697
6       -1.626299       -0.349556         1.414717  0.449598
7        0.404306        0.786483         1.452434  0.528104
8        0.171666       -0.127985         1.494921 -1.497139
9       -1.580538       -0.398016        -0.429960 -1.465746
10       0.626286        2.262524        -0.387989  0.286864
11       1.025246       -0.766250        -0.375250  0.235178
12      -0.992906        0.636425        -0.485682  0.471579
13      -1.605302       -0.766250        -0.572222  0.516599
14       0.493967        0.842327        -0.551873 -1.425852, 0.29835924691153776)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 14 Variable Combination: (8346449229979082471, 15), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico    Region  Género_M
Cluster
0        0.749430       -0.766250        -0.832624  0.540272 -1.680068
1       -0.399704       -0.567327        -0.502221 -1.314480  0.595214
2        0.577733        0.749629        -0.443428 -0.873923  0.595214
3        0.362816       -0.202615        -0.813968 -1.475290 -1.680068
4       -1.627537       -0.326937         1.402040  0.509684  0.575123
5        0.428907       -0.766250        -0.413260  0.559656  0.595214
6       -1.130255       -0.562160        -0.811061  0.326675 -1.680068
7        0.387534        0.798940         1.439655  0.532571  0.595214
8       -1.621507       -0.249759        -0.460227  0.450367  0.595214
9        0.585291        0.778381        -0.815700  0.445371 -1.680068
10      -0.162132        3.060249         0.216074 -0.162425  0.477527
11       0.287167       -0.175491         1.551089  0.307608 -1.680068
12       0.301005       -0.766250         1.402419  0.542325  0.595214
13      -0.061987       -0.183775         1.442653 -1.502893  0.595214
14       0.383185        0.769805        -0.372735  0.848572  0.595214, 0.28358771740051597)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 15 Variable Combination: (1231643714610776940, 14), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año    Region  Género_M
Cluster
0              0.745183         1.445728 -0.707759  0.565230  0.445469
1              0.642382        -0.385959  0.756929  0.494443  0.595214
2             -0.002317        -0.504473 -0.939049 -1.127129  0.595214
3             -0.185900        -0.822209  0.024483 -1.274011 -1.680068
4             -0.327703        -0.437803 -0.960542  0.605607  0.595214
5             -0.175686        -0.725518  0.861090  0.580543 -1.680068
6             -0.278082        -0.393010  0.878946 -1.518471  0.595214
7              2.462522         0.515655  0.807761 -0.088060  0.526887
8             -0.766250         1.404557 -0.681648  0.545624  0.441558
9             -0.267401         1.476398  1.173696  0.467798  0.500791
10            -0.207826        -0.758656 -0.952139  0.503062 -1.680068
11             2.547946        -0.170090 -0.848439 -0.373130  0.438747
12            -0.766250        -0.420235  0.822352  0.461238  0.595214
13            -0.203070         1.516631 -0.157282 -1.504730  0.511332, 0.2692854551044538)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 16 Variable Combination: (2151327478876206167, 11), Number of Clusters: (             Edad  GradoDeterioro       Año    Region
Cluster
0       -1.629986       -0.221233 -0.809867  0.450789
1        0.346462       -0.766250 -0.957801  0.524024
2        0.419618       -0.200771  1.172655 -1.473535
3        0.485573        0.737712  0.793231  0.499204
4       -1.034411       -0.569798  0.933205  0.544619
5        0.244407       -0.766250 -0.675057 -1.467965
6        0.433533        0.720582 -0.977381  0.508479
7        0.704313       -0.766250  0.814539  0.481915
8        0.423334        0.876397 -0.587163 -1.435761
9       -0.117460        2.889993 -0.137625 -0.045259
10      -1.648884       -0.419873  0.373563 -1.299323, 0.2612932416532197)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 17 Variable Combination: (8976745079207469990, 14), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico       Año  Género_M
Cluster
0       -1.000397       -0.245208        -0.449004 -0.968082  0.595214
1        0.437472        0.765917        -0.406419  0.770477  0.595214
2       -1.098651       -0.421724        -0.767814 -0.365290 -1.680068
3        0.468354       -0.766250        -0.737124  0.877174 -1.680068
4       -1.273925       -0.000308         1.421153 -0.644702  0.539493
5       -0.515269       -0.489773         1.468397  1.049912  0.494783
6        0.703136       -0.161815        -0.480750 -0.961308  0.595214
7        0.486795       -0.386325         1.423759 -0.832333  0.432156
8       -1.642821       -0.319574        -0.358962  0.846908  0.595214
9        0.705462        0.859133        -0.768458  0.713104 -1.680068
10       0.350504       -0.766250        -0.414614  0.830711  0.595214
11       0.808335        0.525443         1.526683  0.905556  0.475462
12       0.094326        2.633312         0.247182 -0.445687  0.496289
13       0.671194       -0.124087        -0.771704 -0.979899 -1.680068, 0.259782728112134)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 18 Variable Combination: (7677653340061189534, 11), Number of Clusters: (             Edad  SectorEconómico       Año    Region
Cluster
0        0.380408         1.401259 -0.990091  0.548949
1       -1.437403         1.411926  0.090429  0.542735
2       -0.161395        -0.411176  1.134801 -1.506042
3       -1.022034        -0.508807 -0.962052  0.840115
4        0.451964         1.441591  0.906960  0.452727
5       -0.981333        -0.548312 -0.858206 -0.928610
6       -1.015761        -0.524332  0.795800  0.453830
7       -0.049971         1.508324 -0.114272 -1.514221
8        0.810820        -0.653418 -0.516030 -1.439892
9        0.756633        -0.559384  0.779902  0.486126
10       0.710825        -0.602368 -0.958422  0.500388, 0.25853967500072256)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 19 Variable Combination: (7286918239675251062, 14), Number of Clusters: (             Edad  SectorEconómico       Año    Region  Género_M
Cluster
0        0.612872        -0.825309  0.872144  0.610599 -1.680068
1        0.059524         1.470605 -0.000481 -1.513225  0.595214
2       -1.035950        -0.423988  0.731192  0.458417  0.595214
3        0.446618         1.380893 -0.791819  0.555818  0.595214
4        0.554244        -0.816727  0.014184 -1.304084 -1.680068
5        0.407579        -0.511488 -0.696630 -1.438483  0.595214
6       -0.016108         1.485181  1.034974  0.467902  0.595214
7        0.510178        -0.825078 -0.974758  0.530319 -1.680068
8       -1.349707        -0.810312 -0.028235 -0.031420 -1.680068
9        0.233075        -0.446902 -0.976801  0.483172  0.595214
10       0.742679        -0.372320  0.832906  0.320359  0.595214
11      -0.854163        -0.388050  0.720730 -1.534606  0.595214
12      -1.715167         0.665268 -0.672649  0.404994  0.595214
13       0.260461         1.550860 -0.084919  0.307719 -1.680068, 0.2552242619626857)
<pandas.io.formats.style.Styler object at 0x000001F926163390>

Top 20 Variable Combination: (7279413017317270818, 15), Number of Clusters: (             Edad  GradoDeterioro       Año    Region  Género_M
Cluster
0        0.548471       -0.126261  1.165212  0.459609 -1.680068
1       -1.085512       -0.732462 -0.943653 -0.072476  0.595214

# Top 20 Davies - Bouldin

In [41]:
from sklearn.metrics import davies_bouldin_score
from itertools import combinations

# Obtener todas las combinaciones posibles de 4 a 6 variables
all_variable_combinations = []
for r in range(4, 6):
    combinations_r = list(combinations(data4_scaled.columns, r))
    all_variable_combinations.extend(combinations_r)

# Crear un diccionario para almacenar los resultados de cada combinación
results = {}

# Crear un diccionario para rastrear el número de veces que se ha utilizado cada número de clústeres
cluster_count = {}

# Iterar sobre las combinaciones y ejecutar kMeans
for i, variable_combination in enumerate(all_variable_combinations):
    # Seleccionar solo las columnas necesarias del DataFrame
    subset_data = data4_scaled[list(variable_combination)]

    # Aplicar el algoritmo kMeans con un número variable de clústeres (4 a 15)
    for num_clusters in range(4, 16):
        
        kmeans = KMeans(n_clusters=num_clusters, random_state=42)
        distances = kmeans.fit_transform(subset_data)

        # Obtener los clústeres a los que pertenece cada punto
        clusters = kmeans.labels_

        # Calcular el índice de Davies-Bouldin
        db_index = davies_bouldin_score(subset_data, clusters)

        # Calcular el promedio por clúster
        cluster_means = pd.DataFrame(subset_data)
        cluster_means['Cluster'] = clusters
        cluster_means = cluster_means.groupby('Cluster').mean()

        # Almacenar los resultados en el diccionario
        key = (hash(variable_combination), num_clusters)
        results[key] = (cluster_means, db_index)

        # Incrementar el contador para el número de clústeres utilizado
        cluster_count[num_clusters] = cluster_count.get(num_clusters, 0) + 1

# Ordenar los resultados por el índice de Davies-Bouldin (menor es mejor en este caso)
sorted_results = sorted(results.items(), key=lambda x: x[1][1])

# Imprimir las 10 mejores combinaciones con variables únicas
selected_combinations = set()
top_20_results = []

for result in sorted_results:
    (variable_combination, num_clusters), (cluster_means, db_index) = result
    if variable_combination not in selected_combinations:
        selected_combinations.add(variable_combination)
        top_20_results.append(result)

    if len(top_20_results) == 20:
        break

# Imprimir las 20 mejores combinaciones
for i, (variable_combination, num_clusters) in enumerate(top_20_results):
    print(f"\nTop {i+1} Variable Combination: {variable_combination}, Number of Clusters: {num_clusters}, Davies-Bouldin Index: {db_index}")

Top 1 Variable Combination: (-2492953536713390277, 13), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año  Género_M
Cluster
0              0.757588        -0.823406 -0.245933 -1.680068
1             -0.766250         1.420660  1.153285  0.595214
2             -0.766250        -0.444760  0.829015  0.595214
3              0.786393         1.051911 -1.065606  0.595214
4              0.761096        -0.622742 -0.618712  0.595214
5              3.276134         0.211135 -0.146420  0.398678
6             -0.766250        -0.834089 -0.650768 -1.680068
7             -0.766250         1.378146 -0.664811  0.595214
8              0.761673        -0.308888  0.973268  0.595214
9             -0.515015        -0.818036  1.230595 -1.680068
10            -0.766250        -0.477759 -0.967433  0.595214
11            -0.198155         1.536476 -0.042769 -1.680068
12             0.776592         1.481005  0.827168  0.595214, 0.8800516999178879), Davies-Bouldin Index: 1.2284591414511288

Top 2 Variable Combination: (-2280429558856369004, 14), Number of Clusters: (         GradoDeterioro  SectorEconómico    Region  Género_M
Cluster
0             -0.215425        -0.816104 -1.452063 -1.680068
1              0.646383        -0.496110 -0.902251  0.595214
2             -0.766250        -0.433723  0.474158  0.595214
3              0.734248        -0.823597  0.447981 -1.680068
4              0.739781         1.442849  0.566670  0.595214
5             -0.766250        -0.508286 -1.472543  0.595214
6             -0.766250        -0.826559  1.181901 -1.680068
7              2.510267        -0.212655  0.488612  0.468489
8             -0.216609         1.448554 -1.487270  0.595214
9             -0.175373         1.544907  0.327437 -1.680068
10            -0.766250         1.393911  0.536229  0.595214
11             2.676704         0.681527 -1.166734  0.544652
12             0.569378        -0.377115  0.844311  0.595214
13            -0.766250        -0.828966  0.135134 -1.680068, 0.8855449468947382), Davies-Bouldin Index: 1.2284591414511288

Top 3 Variable Combination: (7866735996180458633, 11), Number of Clusters: (         SectorEconómico       Año    Region  Género_M
Cluster
0              -0.825183  0.787142  0.504483 -1.680068
1              -0.393709  0.865136  0.378867  0.595214
2               1.532213 -0.044348 -1.264577  0.595214
3              -0.405286 -0.783528  0.890564  0.595214
4              -0.483579 -0.969004 -0.928674  0.595214
5               1.423776  0.892516  0.584639  0.595214
6               1.379323 -0.974262  0.570631  0.595214
7              -0.386078  0.841411 -1.498893  0.595214
8              -0.814943  0.091713 -1.476814 -1.680068
9              -0.828417 -0.974498  0.431893 -1.680068
10              1.535871 -0.071051  0.317771 -1.680068, 0.889178305469294), Davies-Bouldin Index: 1.2284591414511288

Top 4 Variable Combination: (2105317518123759021, 13), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico  Género_M
Cluster
0        0.684609       -0.766250         1.410831  0.595214
1        0.598080        0.746409        -0.819552 -1.680068
2       -0.997696       -0.766250        -0.494333  0.595214
3        0.738068        0.569378        -0.436299  0.595214
4        0.452977       -0.766250        -0.830876 -1.680068
5        0.377175        0.779242         1.457857  0.595214
6       -0.914365        0.719802        -0.440072  0.595214
7       -0.631904       -0.766250         1.502263  0.595214
8        0.330032        2.662272        -0.014152  0.486668
9        0.696919       -0.766250        -0.451350  0.595214
10      -1.604201       -0.425407        -0.802954 -1.680068
11      -1.765906       -0.244971         1.070969  0.587029
12       0.267084       -0.200938         1.541730 -1.680068, 0.922849185850342), Davies-Bouldin Index: 1.2284591414511288

Top 5 Variable Combination: (-7770610411689567998, 11), Number of Clusters: (             Edad  SectorEconómico       Año  Género_M
Cluster
0        0.728792        -0.462245 -0.645843  0.595214
1        0.393056         1.351736 -0.848663  0.595214
2        0.744538        -0.833858 -0.628242 -1.680068
3        0.465405        -0.819610  1.161401 -1.680068
4       -1.504937         1.328077 -0.081630  0.569525
5       -1.058436        -0.357783  1.139680  0.595214
6       -1.061789        -0.823443 -0.460932 -1.680068
7       -0.976753        -0.455566 -0.685072  0.595214
8        0.304186         1.532401 -0.070962 -1.680068
9        0.302948         1.555870  0.989021  0.595214
10       0.723939        -0.371521  1.122133  0.595214, 0.9403151838056734), Davies-Bouldin Index: 1.2284591414511288

Top 6 Variable Combination: (-7558086433832546725, 11), Number of Clusters: (             Edad  SectorEconómico    Region  Género_M
Cluster
0        0.713202        -0.403102  0.477810  0.595214
1        0.406475         1.493360 -0.980460  0.595214
2       -1.015809        -0.808344  0.348961 -1.680068
3        0.488394        -0.492601 -1.498652  0.595214
4       -1.134147         1.455422  0.410229  0.595214
5        0.542833         1.344621  0.866824  0.595214
6        0.365618        -0.815266 -1.462980 -1.680068
7       -1.038088        -0.388428  0.831644  0.595214
8        0.769027        -0.829011  0.509929 -1.680068
9       -1.135231        -0.402734 -0.776937  0.595214
10       0.260461         1.550860  0.307719 -1.680068, 0.9536049624210127), Davies-Bouldin Index: 1.2284591414511288

Top 7 Variable Combination: (-6038383006382673267, 14), Number of Clusters: (             Edad  GradoDeterioro    Region  Género_M
Cluster
0        0.257453       -0.288846 -1.508614 -1.680068
1       -0.158177       -0.766250 -0.098350  0.595214
2        0.235783        2.650878  0.131363  0.502345
3        0.478681       -0.766250  0.889312  0.595214
4        0.728459        0.782774  0.313101 -1.680068
5        0.484084        0.598376  0.589331  0.595214
6       -1.667016        0.742935  0.716541  0.575932
7       -0.993361       -0.445186  0.457324 -1.680068
8        0.545421       -0.766250 -1.308836  0.595214
9        0.739795       -0.766250  0.533500 -1.680068
10      -1.660987       -0.684914 -1.519834  0.522288
11      -1.608205       -0.766250  0.514762  0.595214
12       0.771203        0.811064 -1.434335  0.595214
13      -0.802303        0.749869 -0.918996  0.591114, 0.965827124196991), Davies-Bouldin Index: 1.2284591414511288

Top 8 Variable Combination: (-4679683586341635231, 12), Number of Clusters: (         GradoDeterioro       Año    Region  Género_M
Cluster
0              0.784612  1.121222  0.482921  0.595214
1              0.784802 -0.636782  0.384402 -1.680068
2             -0.766250 -0.654558 -1.459636  0.595214
3              0.747988 -0.642781  0.839001  0.595214
4              0.846702 -0.603224 -0.911728  0.595214
5              3.464087 -0.171540 -0.092547  0.387584
6             -0.216285  1.161223  0.446779 -1.680068
7             -0.766250 -0.662118  0.520520 -1.680068
8             -0.766250 -0.680706  0.517487  0.595214
9             -0.766250  1.129853  0.470036  0.595214
10            -0.218622  1.169309 -1.489894  0.595214
11            -0.258660 -0.001551 -1.494117 -1.680068, 0.9689889976099568), Davies-Bouldin Index: 1.2284591414511288

Top 9 Variable Combination: (-6250906984239694540, 15), Number of Clusters: (             Edad  GradoDeterioro       Año  Género_M
Cluster
0        0.795769       -0.145900  1.153752 -1.680068
1        1.255771        0.809905 -0.617247  0.595214
2       -1.959134       -0.560558 -0.256514  0.595214
3        0.721383       -0.766250 -0.636890 -1.680068
4       -0.852144       -0.766250  0.969406  0.595214
5        0.429315        0.773177  0.957243  0.595214
6       -0.788364       -0.766250 -0.980388  0.595214
7       -0.241776        0.710408 -0.861365  0.595214
8        0.098710        3.034588 -0.192377  0.438514
9        0.694243       -0.766250  0.837428  0.595214
10      -0.993864       -0.473230  0.856394 -1.680068
11       0.567049        0.790908 -0.598555 -1.680068
12       0.690254       -0.766250 -0.960681  0.595214
13      -1.580841        0.738445  0.791489  0.580813
14      -1.030151       -0.597285 -0.935834 -1.680068, 0.9766092319800459), Davies-Bouldin Index: 1.2284591414511288

Top 10 Variable Combination: (4091046229407370536, 11), Number of Clusters: (             Edad       Año    Region  Género_M
Cluster
0        0.735084  0.843487  0.428290  0.595214
1       -1.016405 -0.538630 -1.460752  0.595214
2       -1.095287 -0.415263  0.317479 -1.680068
3       -1.070262  1.132762  0.393684  0.595214
4        0.758200 -0.932104 -0.909615  0.595214
5        0.331943  0.098277 -1.504911 -1.680068
6        0.582855  0.842449  0.500378 -1.680068
7       -1.048293 -0.612680  0.467272  0.595214
8        0.365018  0.931853 -1.510234  0.595214
9        0.548694 -0.917646  0.890390  0.595214
10       0.733639 -0.980087  0.448034 -1.680068, 1.0239031533066885), Davies-Bouldin Index: 1.2284591414511288

Top 11 Variable Combination: (-3540834709485523760, 12), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico    Region
Cluster
0        0.624817        0.800200        -0.580026 -0.962929
1        0.585018        0.729208        -0.540088  0.895451
2       -1.052681       -0.682773        -0.579746 -0.974259
3        0.301236       -0.766250         1.407395  0.532308
4        0.041010        3.151863         0.219556 -0.080652
5       -1.630752       -0.357214         1.420205  0.458352
6        0.716312       -0.766250        -0.610822  0.510054
7       -1.116778        0.729053        -0.479273  0.195931
8        0.055331       -0.113582         1.463965 -1.504536
9        0.732642       -0.766250        -0.615325 -1.473089
10      -1.066620       -0.766250        -0.535980  0.829161
11       0.404275        0.803970         1.448411  0.520867, 1.0936766489607148), Davies-Bouldin Index: 1.2284591414511288

Top 12 Variable Combination: (7677653340061189534, 11), Number of Clusters: (             Edad  SectorEconómico       Año    Region
Cluster
0        0.380408         1.401259 -0.990091  0.548949
1       -1.437403         1.411926  0.090429  0.542735
2       -0.161395        -0.411176  1.134801 -1.506042
3       -1.022034        -0.508807 -0.962052  0.840115
4        0.451964         1.441591  0.906960  0.452727
5       -0.981333        -0.548312 -0.858206 -0.928610
6       -1.015761        -0.524332  0.795800  0.453830
7       -0.049971         1.508324 -0.114272 -1.514221
8        0.810820        -0.653418 -0.516030 -1.439892
9        0.756633        -0.559384  0.779902  0.486126
10       0.710825        -0.602368 -0.958422  0.500388, 1.1127667514174868), Davies-Bouldin Index: 1.2284591414511288

Top 13 Variable Combination: (-1093076475687816233, 12), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año    Region
Cluster
0             -0.435247        -0.539339 -1.065320 -1.414373
1             -0.766250        -0.608898 -0.961401  0.501573
2              3.338025         0.210081 -0.192356 -0.095823
3              0.741181        -0.559044 -0.962899  0.457656
4             -0.766250        -0.563105  0.808044  0.833266
5              0.856476         1.426688 -0.625652  0.484304
6             -0.766250        -0.600360  0.826140 -0.922932
7              0.765895        -0.483935  0.820609  0.541958
8              0.847491        -0.563821  0.248441 -1.289369
9             -0.225881         1.446003  1.161413  0.508674
10            -0.766250         1.394096 -0.687580  0.526646
11            -0.148919         1.483647  0.236689 -1.518205, 1.1138718955309672), Davies-Bouldin Index: 1.2284591414511288

Top 14 Variable Combination: (8346449229979082471, 15), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico    Region  Género_M
Cluster
0        0.749430       -0.766250        -0.832624  0.540272 -1.680068
1       -0.399704       -0.567327        -0.502221 -1.314480  0.595214
2        0.577733        0.749629        -0.443428 -0.873923  0.595214
3        0.362816       -0.202615        -0.813968 -1.475290 -1.680068
4       -1.627537       -0.326937         1.402040  0.509684  0.575123
5        0.428907       -0.766250        -0.413260  0.559656  0.595214
6       -1.130255       -0.562160        -0.811061  0.326675 -1.680068
7        0.387534        0.798940         1.439655  0.532571  0.595214
8       -1.621507       -0.249759        -0.460227  0.450367  0.595214
9        0.585291        0.778381        -0.815700  0.445371 -1.680068
10      -0.162132        3.060249         0.216074 -0.162425  0.477527
11       0.287167       -0.175491         1.551089  0.307608 -1.680068
12       0.301005       -0.766250         1.402419  0.542325  0.595214
13      -0.061987       -0.183775         1.442653 -1.502893  0.595214
14       0.383185        0.769805        -0.372735  0.848572  0.595214, 1.140457689244836), Davies-Bouldin Index: 1.2284591414511288

Top 15 Variable Combination: (7837039228455974809, 10), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico       Año
Cluster
0       -1.164266       -0.464179        -0.436421  1.170053
1        0.532299        0.768342        -0.559303  0.742059
2        0.276809       -0.215802         1.468444  0.850205
3       -1.595661       -0.319970        -0.575574 -0.679830
4        0.073745        2.660885         0.544418 -0.183723
5        0.812650       -0.766250        -0.592725  0.984191
6        0.432988        0.725303        -0.591122 -0.963237
7        0.349609       -0.220856         1.409130 -0.981010
8       -1.636088       -0.301563         1.415496 -0.190374
9        0.285741       -0.766250        -0.610433 -0.734743, 1.141390654487237), Davies-Bouldin Index: 1.2284591414511288

Top 16 Variable Combination: (7286918239675251062, 14), Number of Clusters: (             Edad  SectorEconómico       Año    Region  Género_M
Cluster
0        0.612872        -0.825309  0.872144  0.610599 -1.680068
1        0.059524         1.470605 -0.000481 -1.513225  0.595214
2       -1.035950        -0.423988  0.731192  0.458417  0.595214
3        0.446618         1.380893 -0.791819  0.555818  0.595214
4        0.554244        -0.816727  0.014184 -1.304084 -1.680068
5        0.407579        -0.511488 -0.696630 -1.438483  0.595214
6       -0.016108         1.485181  1.034974  0.467902  0.595214
7        0.510178        -0.825078 -0.974758  0.530319 -1.680068
8       -1.349707        -0.810312 -0.028235 -0.031420 -1.680068
9        0.233075        -0.446902 -0.976801  0.483172  0.595214
10       0.742679        -0.372320  0.832906  0.320359  0.595214
11      -0.854163        -0.388050  0.720730 -1.534606  0.595214
12      -1.715167         0.665268 -0.672649  0.404994  0.595214
13       0.260461         1.550860 -0.084919  0.307719 -1.680068, 1.161494306482934), Davies-Bouldin Index: 1.2284591414511288

Top 17 Variable Combination: (2151327478876206167, 12), Number of Clusters: (             Edad  GradoDeterioro       Año    Region
Cluster
0        0.232552       -0.766250  1.015116 -1.066486
1        0.107275        2.773732 -0.367732 -0.238352
2        0.699285       -0.766250 -0.744216  0.473842
3        0.506375        0.746530  0.975158  0.423947
4       -0.914615       -0.766250 -0.813302  0.490083
5        0.777528       -0.766250  0.975158  0.761853
6        0.658679        0.129766 -0.992146 -1.108324
7       -1.177420       -0.448524 -0.366988 -1.467534
8       -1.320545       -0.519068  0.967945  0.574487
9        0.491947        0.853167  0.745376 -1.469121
10       0.750179        0.728297 -0.713302  0.868230
11      -0.978910        0.694764 -0.612170  0.530850, 1.170230406701464), Davies-Bouldin Index: 1.2284591414511288

Top 18 Variable Combination: (1231643714610776940, 15), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año    Region  Género_M
Cluster
0             -0.228708        -0.359205  1.191539 -1.494968  0.595214
1             -0.766250        -0.448733 -0.683192  0.491359  0.595214
2             -0.148618        -0.818400  0.790549  0.806777 -1.680068
3              0.936532        -0.466393 -0.642098 -1.419084  0.585364
4              2.620866         0.345518  0.057637  0.169897  0.497000
5             -0.205999        -0.385947  1.112662  0.461996  0.595214
6             -0.269957         1.390639 -0.702546  0.590233  0.595214
7             -0.024234        -0.840325 -0.792304 -0.829816 -1.680068
8             -0.366884        -0.820804  0.874285 -0.871402 -1.680068
9             -0.239704         1.444626  1.168316  0.487365  0.595214
10            -0.766250        -0.411485 -0.709167 -1.455350  0.595214
11             0.035127         1.556057  0.038251 -1.399540  0.595214
12            -0.168572         1.542128 -0.063651  0.309190 -1.680068
13             0.665324        -0.449428 -0.630732  0.488268  0.595214
14            -0.228256        -0.819509 -0.963707  0.845934 -1.680068, 1.1752792358563944), Davies-Bouldin Index: 1.2284591414511288

Top 19 Variable Combination: (8976745079207469990, 13), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico       Año  Género_M
Cluster
0        0.339592       -0.181451         1.464487  1.161388  0.485221
1        0.372454        0.798974         1.472500 -0.681985  0.471108
2        0.543976       -0.206680        -0.731221  1.151649 -1.680068
3       -1.051507       -0.257497        -0.437832  0.801411  0.595214
4        0.562510        0.820369        -0.763711 -0.596827 -1.680068
5       -1.005795       -0.243676        -0.444183 -0.971592  0.595214
6        0.387705       -0.766250         1.423306 -0.757668  0.410543
7        0.184712        2.521293         0.012106  0.012246  0.535523
8        0.717639       -0.034520        -0.486567 -0.773740  0.595214
9        0.716261       -0.277236        -0.401775  0.942612  0.595214
10      -1.598972       -0.415794        -0.775680 -0.022289 -1.680068
11      -1.483995       -0.368358         1.426482  0.071535  0.547583
12       0.432040       -0.766250        -0.774764 -0.641610 -1.680068, 1.1942633580106226), Davies-Bouldin Index: 1.2284591414511288

Top 20 Variable Combination: (7279413017317270818, 6), Number of Clusters: (             Edad  GradoDeterioro       Año    Region  Género_M
Cluster
0        0.330148       -0.223460 -0.015356  0.088051 -1.680068
1       -1.671568       -0.305783  0.079575  0.173033  0.404957
2        0.136392       -0.203262 -0.056798 -1.497954  0.595214
3        0.370302       -0.159958  0.837118  0.452413  0.595214
4        0.281751       -0.213789 -0.977772  0.549914  0.595214
5        0.215471        2.403448 -0.068115 -0.181522  0.361640, 1.2284591414511288), Davies-Bouldin Index: 1.2284591414511288

# Top 20 Calinski-Harabasz

In [42]:
from sklearn.metrics import calinski_harabasz_score
from itertools import combinations

# Suponiendo que 'data' es tu DataFrame y las variables están en 'variables_name'
# También suponiendo que tienes una columna 'Cluster' en tu DataFrame

# Obtener todas las combinaciones posibles de 4 a 6 variables 
all_variable_combinations = []
for r in range(4, 6):
    combinations_r = list(combinations(data4_scaled.columns, r))
    all_variable_combinations.extend(combinations_r)

# Crear un diccionario para almacenar los resultados de cada combinación
results = {}

# Crear un diccionario para rastrear el número de veces que se ha utilizado cada número de clústeres
cluster_count = {}

# Iterar sobre las combinaciones y ejecutar kMeans
for i, variable_combination in enumerate(all_variable_combinations):
    # Seleccionar solo las columnas necesarias del DataFrame
    subset_data = data4_scaled[list(variable_combination)]

    # Aplicar el algoritmo kMeans con un número variable de clústeres (4 a 15)
    for num_clusters in range(4, 16):
        
        kmeans = KMeans(n_clusters=num_clusters, random_state=42)
        distances = kmeans.fit_transform(subset_data)

        # Obtener los clústeres a los que pertenece cada punto
        clusters = kmeans.labels_

        # Calcular el índice de Calinski-Harabasz
        calinski_score = calinski_harabasz_score(subset_data, clusters)

        # Calcular el promedio por clúster
        cluster_means = pd.DataFrame(subset_data)
        cluster_means['Cluster'] = clusters
        cluster_means = cluster_means.groupby('Cluster').mean()

        # Almacenar los resultados en el diccionario
        key = (hash(variable_combination), num_clusters)
        results[key] = (cluster_means, calinski_score)

        # Incrementar el contador para el número de clústeres utilizado
        cluster_count[num_clusters] = cluster_count.get(num_clusters, 0) + 1

# Ordenar los resultados por el índice de Calinski-Harabasz
sorted_results = sorted(results.items(), key=lambda x: x[1][1], reverse=True)

# Imprimir las 10 mejores combinaciones con variables únicas
selected_combinations = set()
top_20_results = []

for result in sorted_results:
    (variable_combination, num_clusters), (cluster_means, calinski_score) = result
    if variable_combination not in selected_combinations:
        selected_combinations.add(variable_combination)
        top_20_results.append(result)

    if len(top_20_results) == 20:
        break

# Imprimir las 20 mejores combinaciones
for i, (variable_combination, num_clusters) in enumerate(top_20_results):
    print(f"\nTop {i+1} Variable Combination: {variable_combination}, Number of Clusters: {num_clusters}")
    print(f"Calinski-Harabasz Score: {calinski_score}")

Top 1 Variable Combination: (-2280429558856369004, 5), Number of Clusters: (         GradoDeterioro  SectorEconómico    Region  Género_M
Cluster
0             -0.185732        -0.765794  0.057993 -1.680068
1             -0.190105        -0.420917  0.476083  0.595214
2             -0.220095        -0.221120 -1.471609  0.595214
3             -0.255285         1.483285  0.340553  0.463671
4              2.423486         0.248223 -0.108217  0.480878, 4391.108915398963)
Calinski-Harabasz Score: 2277.6777331021112

Top 2 Variable Combination: (-2492953536713390277, 7), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año  Género_M
Cluster
0             -0.218512         1.424351 -0.981042  0.462204
1             -0.242723         1.461914  0.828318  0.500549
2             -0.196020        -0.429042  0.798801  0.595214
3             -0.189222        -0.733525  1.144438 -1.680068
4             -0.184334        -0.775254 -0.640901 -1.680068
5              2.437535         0.199457 -0.060447  0.480716
6             -0.204322        -0.463774 -0.964534  0.595214, 4291.116273656377)
Calinski-Harabasz Score: 2277.6777331021112

Top 3 Variable Combination: (2105317518123759021, 6), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico  Género_M
Cluster
0        0.758171       -0.088445        -0.768474 -1.680068
1       -1.118973       -0.269802        -0.222291  0.595214
2        0.720030       -0.140666        -0.435459  0.595214
3       -0.964678       -0.397976        -0.729276 -1.680068
4        0.151311       -0.236169         1.502405  0.468211
5        0.185689        2.428086         0.255995  0.479864, 4162.903002023254)
Calinski-Harabasz Score: 2277.6777331021112

Top 4 Variable Combination: (7866735996180458633, 11), Number of Clusters: (         SectorEconómico       Año    Region  Género_M
Cluster
0              -0.825183  0.787142  0.504483 -1.680068
1              -0.393709  0.865136  0.378867  0.595214
2               1.532213 -0.044348 -1.264577  0.595214
3              -0.405286 -0.783528  0.890564  0.595214
4              -0.483579 -0.969004 -0.928674  0.595214
5               1.423776  0.892516  0.584639  0.595214
6               1.379323 -0.974262  0.570631  0.595214
7              -0.386078  0.841411 -1.498893  0.595214
8              -0.814943  0.091713 -1.476814 -1.680068
9              -0.828417 -0.974498  0.431893 -1.680068
10              1.535871 -0.071051  0.317771 -1.680068, 4123.394867050163)
Calinski-Harabasz Score: 2277.6777331021112

Top 5 Variable Combination: (-7558086433832546725, 5), Number of Clusters: (             Edad  SectorEconómico    Region  Género_M
Cluster
0        0.175575        -0.222559 -1.499537  0.595214
1        0.232335         1.531869  0.282997  0.449517
2        0.509470        -0.414019  0.561352  0.595214
3        0.217057        -0.762814  0.058108 -1.680068
4       -1.393019        -0.024896  0.157471  0.582077, 3980.4017204297897)
Calinski-Harabasz Score: 2277.6777331021112

Top 6 Variable Combination: (-7770610411689567998, 10), Number of Clusters: (             Edad  SectorEconómico       Año  Género_M
Cluster
0        0.709277        -0.742648  0.820592 -1.680068
1        0.737254        -0.404166  0.787531  0.595214
2        0.584875        -0.766971 -0.999992 -1.680068
3       -1.039243        -0.411916  1.124532  0.595214
4        0.237197         1.428158 -1.012565  0.448002
5       -1.091523        -0.764279 -0.022654 -1.680068
6       -1.121196         1.446808  0.549941  0.525122
7       -1.014337        -0.412398 -0.687280  0.595214
8        0.705453         1.482171  0.822565  0.484570
9        0.709503        -0.462912 -0.962727  0.595214, 3880.716034106573)
Calinski-Harabasz Score: 2277.6777331021112

Top 7 Variable Combination: (-6038383006382673267, 5), Number of Clusters: (             Edad  GradoDeterioro    Region  Género_M
Cluster
0        0.235833       -0.251966  0.074288 -1.680068
1       -1.056625       -0.261290  0.494114  0.566315
2        0.207525        2.384902 -0.171423  0.301544
3       -0.049219       -0.219502 -1.465923  0.595214
4        0.701024       -0.167715  0.502581  0.595214, 3650.812740954466)
Calinski-Harabasz Score: 2277.6777331021112

Top 8 Variable Combination: (-4679683586341635231, 5), Number of Clusters: (         GradoDeterioro       Año    Region  Género_M
Cluster
0             -0.288156 -0.020545  0.074263 -1.680068
1              2.359533 -0.052291 -0.116375  0.214330
2             -0.224846 -0.964457  0.524395  0.595214
3             -0.221423 -0.077693 -1.479037  0.595214
4             -0.206194  0.828848  0.448085  0.595214, 3630.338755126865)
Calinski-Harabasz Score: 2277.6777331021112

Top 9 Variable Combination: (-6250906984239694540, 5), Number of Clusters: (             Edad  GradoDeterioro       Año  Género_M
Cluster
0        0.371123       -0.055760  0.945467  0.595214
1       -1.535336       -0.342723  0.045019  0.445006
2        0.382408       -0.261862 -0.837696  0.595214
3        0.211262        2.444496 -0.055114  0.517884
4        0.332560       -0.172577 -0.020345 -1.680068, 3593.75330813923)
Calinski-Harabasz Score: 2277.6777331021112

Top 10 Variable Combination: (4091046229407370536, 5), Number of Clusters: (             Edad       Año    Region  Género_M
Cluster
0        0.146517  0.085959 -1.527614  0.595214
1       -1.628880  0.011217  0.202796  0.422443
2        0.400223  0.821318  0.487421  0.595214
3        0.330831 -0.023744  0.064387 -1.680068
4        0.343831 -0.992614  0.411500  0.595214, 3326.6060765800175)
Calinski-Harabasz Score: 2277.6777331021112

Top 11 Variable Combination: (-3540834709485523760, 5), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico    Region
Cluster
0        0.252787        2.367686         0.108836 -0.129269
1       -1.096623       -0.278347        -0.449458  0.397183
2        0.077280       -0.244685        -0.390400 -1.500591
3        0.733426       -0.181072        -0.585197  0.501588
4        0.021804       -0.237729         1.495782  0.307635, 3027.1481787450334)
Calinski-Harabasz Score: 2277.6777331021112

Top 12 Variable Combination: (-1093076475687816233, 5), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año    Region
Cluster
0              2.359533         0.114196 -0.052291 -0.116375
1             -0.213489        -0.542320  0.797417  0.480634
2             -0.250827         1.483415  0.023331  0.320782
3             -0.260352        -0.387349  0.101415 -1.512002
4             -0.226254        -0.567680 -0.989111  0.393297, 2996.087946095835)
Calinski-Harabasz Score: 2277.6777331021112

Top 13 Variable Combination: (7837039228455974809, 5), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico       Año
Cluster
0        0.500185       -0.170706        -0.561896  0.835712
1        0.380663       -0.210995        -0.575844 -0.961962
2       -1.519260       -0.345531        -0.179641  0.026265
3        0.212152       -0.231744         1.488352  0.023336
4        0.254075        2.366651         0.122927 -0.052321, 2938.2994110520654)
Calinski-Harabasz Score: 2277.6777331021112

Top 14 Variable Combination: (2151327478876206167, 5), Number of Clusters: (             Edad  GradoDeterioro       Año    Region
Cluster
0        0.161792       -0.233250 -0.013669 -1.504465
1        0.448040       -0.186003  0.844906  0.473920
2        0.259486        2.367686 -0.051868 -0.124472
3       -1.557316       -0.316346  0.017011  0.224572
4        0.388350       -0.223080 -0.968082  0.492562, 2777.7747501516087)
Calinski-Harabasz Score: 2277.6777331021112

Top 15 Variable Combination: (7677653340061189534, 5), Number of Clusters: (             Edad  SectorEconómico       Año    Region
Cluster
0        0.495571        -0.506124  0.841784  0.482374
1        0.391898        -0.559682 -0.983522  0.397118
2        0.196646        -0.355134  0.030998 -1.536567
3        0.205841         1.543200 -0.020234  0.267009
4       -1.602804        -0.133664 -0.012018  0.201894, 2745.9042425975294)
Calinski-Harabasz Score: 2277.6777331021112

Top 16 Variable Combination: (8346449229979082471, 6), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico    Region  Género_M
Cluster
0       -1.714484       -0.298441        -0.027182  0.207075  0.385670
1        0.153741       -0.209738        -0.228802 -1.500510  0.595214
2        0.335570       -0.177493        -0.771508  0.055538 -1.680068
3        0.218313       -0.223784         1.526182  0.301998  0.443207
4        0.203656        2.432094         0.253400 -0.113242  0.478980
5        0.351064       -0.165246        -0.409300  0.469988  0.595214, 2629.6459364718303)
Calinski-Harabasz Score: 2277.6777331021112

Top 17 Variable Combination: (8976745079207469990, 4), Number of Clusters: (             Edad  GradoDeterioro  SectorEconómico       Año  Género_M
Cluster
0        0.165070        2.423486         0.248223 -0.065113  0.480878
1        0.215897       -0.186371        -0.760980 -0.013532 -1.680068
2       -0.099657       -0.249563         1.439428  0.017054  0.482322
3       -0.096896       -0.199734        -0.444579  0.010006  0.595214, 2605.137287964886)
Calinski-Harabasz Score: 2277.6777331021112

Top 18 Variable Combination: (1231643714610776940, 4), Number of Clusters: (         GradoDeterioro  SectorEconómico       Año    Region  Género_M
Cluster
0             -0.251393         1.436109  0.014099  0.132632  0.478392
1             -0.199164        -0.446432  0.010815 -0.090826  0.595214
2             -0.185186        -0.765794 -0.012019  0.058284 -1.680068
3              2.423486         0.248223 -0.065113 -0.108217  0.480878, 2583.706999314861)
Calinski-Harabasz Score: 2277.6777331021112

Top 19 Variable Combination: (7286918239675251062, 4), Number of Clusters: (             Edad  SectorEconómico       Año    Region  Género_M
Cluster
0       -0.071834         1.487839  0.022090  0.319924  0.473940
1       -0.067324        -0.282532 -0.243867 -1.204830  0.595214
2       -0.075730        -0.394637  0.184346  0.593658  0.595214
3        0.217681        -0.752663 -0.021465  0.055666 -1.680068, 2540.5804415069993)
Calinski-Harabasz Score: 2277.6777331021112

Top 20 Variable Combination: (7279413017317270818, 5), Number of Clusters: (             Edad  GradoDeterioro       Año    Region  Género_M
Cluster
0        0.208557       -0.229256 -0.016957  0.089364 -1.680068
1       -0.014436       -0.210037 -0.022082 -1.368726  0.595214
2       -0.282861       -0.221462  0.952777  0.473080  0.595214
3       -0.001159       -0.215711 -0.836935  0.560360  0.595214
4        0.183583        2.396328 -0.065677 -0.177326  0.367686, 2277.6777331021112)
Calinski-Harabasz Score: 2277.6777331021112